.hidden {
  display: none;
  background-color: transparent;
}

.cursor {
  height: 1em;
  width: 0.5em;
  display: inline-block;
  vertical-align: middle;
}

.solid {
  background-color: white;
  animation: none;
}

.blink {
  animation: blink 1.2s infinite steps(1);
}

@keyframes blink {
  0% {
    background-color: transparent;
  }

  50% {
    background-color: white;
  }

  100% {
    background-color: transparent;
  }
}
