.experience {
  background-color: var(--card-bg);
  margin: 1rem;
  margin-bottom: 0;
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;

  h3,
  h4,
  p {
    margin: 0;
  }

  .title {
    font-weight: 500;
    color: var(--accent);
  }

  .subtitle,
  .date {
    font-weight: 300;
  }

  .date {
    font-size: 0.9rem;
    letter-spacing: 0.15rem;
  }

  .description,
  .techstack {
    margin-top: 0.5rem;
  }
}
