.icon {
  // renders svg's as block instead of inline
  // stops extra padding from being added on bottom
  // (reserved for some characters: yjpgq, etc)
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Montserrat;
}

.title {
  color: var(--text-color);
  font-weight: 450;
  margin: 0 1rem;
}

.body-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .experience-body {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}

.header-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  .divider {
    background-color: var(--text-color);
    height: 1.5rem;
    width: 2px;
    margin: 0 0.5rem;
  }

  .links {
    display: flex;
    justify-content: flex-end;

    a {
      padding: 0.25rem;

      #linkedin {
        padding-left: 0;
      }

      svg {
        fill: var(--accent);
        width: 2rem;
        height: 2rem;

        &:hover {
          fill: color-mix(in srgb, var(--accent) 100%, var(--bg-color) 20%);
        }
      }
    }
  }
}
