.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  .divider {
    background-color: var(--text-color);
    height: 1.5rem;
    width: 2px;
    margin: 0 0.5rem;
  }

  .links {
    display: flex;
    justify-content: flex-end;

    a {
      padding: 0.25rem;
      #linkedin {
        padding-left: 0;
      }

      svg {
        fill: var(--accent);
        width: 2rem;
        height: 2rem;

        &:hover {
          fill: color-mix(in srgb, var(--accent) 100%, var(--bg-color) 20%);
        }
      }
    }
  }
}
